


#header {
    background-color: white;
    color:white;
    text-align:center;
    padding:5px;
}

/*#nav1 {
    float:left;
    width:150px;
    box-shadow: 0 0 50px 0 #393939;
    font-size: 1.1em;
    padding:20px 20px 20px 20px;
    margin-top: 160px;
    margin-bottom: 5px;
      
}*/


#section3 {
    width:700px;
    box-shadow: 0 0 50px 0 #87CEFA;
    float:left;
    padding:20px;
    margin-top: 160px;
    margin-left: 400px;
     
}

a:hover {
    background-color: white;
}







/*------------------*/



